body{
    margin:0;
    padding: 0;
    background: rgb(89, 35, 35);
}
#container{
    width: 80%;
    height: 230px;
    background: rgb(4, 148, 7);
    margin: 0 auto;
    z-index: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#container::-webkit-scrollbar{
    display: none;
}

#container #blocos{
    position: relative;
    position: 30px;
    margin:  5px;
    width: 150px;
    height: 200px;
    background: orangered;
    display: inline-block;
}
#botao-esquerda{
    /*tag position:absolute; serve para deixar os itens colados na borda do navegador  
    */
    margin-top: 70px;
    position: absolute;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background: white;    
    border-radius: 100px;
    z-index: 1;  /* serve para ficar acima do z-index 0 ou seja ele ira ficar sobre o container que tiver o z-index 0*/
    

}
#botao-direita{
   /* margin-top: 12px; */
    margin-top: 70px;
    position: absolute;
    right: 10%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background: white;
    border-radius: 550px;
    z-index: 1;
}
#menu-produtos ,#menu-produtos2,#menu-produtos-ultimo,#menu-produtos-ultimo2 {
    scroll-behavior: smooth;

}
#menu-produtos-ultimo{
    scroll-behavior: smooth;

}