body{
    background-color: rgb(20, 69, 231);
    padding:0;
    margin:0;
    box-sizing:border-box;
    width:100%;
    height:100%
}
header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1 {
    text-align: center;
    margin: auto;
    margin-left:20% ;
}
.logo{
    text-align: center;
    margin-left: ;
}
img{
    width: 100%;
    height: 100%;
}

.produtos{
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: auto;
    text-align: center;

}



.produtos div{
    margin-left: 5px;
    margin-top: 10px ;
    margin: 0 auto 10px;
    background: rgb(158, 62, 62);

}

.produto1, .produto2,.produto3,.produto4,.produto5,.produto6,.produto7,.produto8,.produto9,.produto10{
    width: 300px;
    height: 165px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}


@media(max-width:580px){
    .produtos{
        grid-template-columns: 1fr; 
        width: 100%;
        
        }
    .produtos div{
        width: 95%;
    
    }
    h1 {
        text-align: center;
        margin: auto;
    }
    
}
@media(min-width:580px){
    .produtos{
        margin: auto;
        width: 100%;
    }
    .produtos div{
        width: 100%;
        margin-left: 15px;
        
        }
}
@media(min-width:670px){
    .produtos{
        margin: auto;
    }
    .produtos div{
        width: 100%;
        margin:  auto  ;  
        margin-top: 10px;

    }
}
@media(min-width:925px){
  
    .produtos div{
        max-width: 300px;
        }
}

li, a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    background: white;
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    margin:auto;
    
}
p{
    margin: 0; /*serve para tirar o espacamento de cima que ela dar por conta da div o item acaba descendo um pouco*/
    text-decoration: line-through;
    font-size: 12px;
    color: black;
}
#btncompra{
    font-size: 15px;
    margin: 0;
    width: 100%;
    
}
#btncompra div {
  margin: 0;
}
#price{
    color: white;
    font-size: 25px;
}
#descricao{
    color: black;
    text-align: justify;
    font-size: 15px;
  
}
.a-vista{
    font-size: 18px;
    color: black;
}

#foto{
    margin: 0;  
    min-width: 125px;
}


