body{
    background-color: rgb(20, 69, 231);
    padding:0;
    margin:0;
    width:100%;
    height:100%
}
.header{
    display: flex;
    justify-content: space-around;/*space-between sever para deixar os itens colado na borda o around deixa eles centralizado */ 
    text-align: center;
    flex-wrap: wrap;
}

@media(max-width:300px){
    .logo{
        inset: img;
    }
}
.href-cursos{
    background-color: yellow;
}
input{
    max-height: 70%;
    border-radius: 8px;
    min-width: 90%;
    padding: 8px;
    margin-top:10px;
}
@media(min-width:500px){
    input{
    min-width:300px;
    background-color: rgb(178, 178, 168);
    flex-wrap: wrap;
    max-height: 40px;
    display: none;

    }
}
@media(max-width:500px){
    .href-cursos{
        display: none;
        background-color: red;
    }   
    /*   .foto-promocao{
     background-image: url(foto/fotomobile.png);
        background-position: calc(100% - 15px)center;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
    }
    .imagem-foto{
    }
    */
}
.menu{
   /* width: 100%;
    height: 200px;  */
    max-width: 100%;
    min-height: 100%;
}
.foto-promocao{
    min-height: 15rem;
    text-align: center;
    
}
img{
    max-width: 100%;
}
li, a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    background: #aabedb; /*#d3d5d8;*/
    padding: 3px;
    border-radius: 10px;
    width: 80px;
    margin:auto;
    
}
.descricao{
    font-size: 12px;
    margin-left: 5px;
}
#valor {
    font-size: 17px;
    color: white;
    display: flex;

}
p, .preco-cortado{
    margin: 0; /*serve para tirar o espacamento de cima que ela dar por conta da div o item acaba descendo um pouco*/
    text-decoration: line-through;
    font-size: 10px;
}
.price{
    margin-left: 10px;
    font-size: 12px;
    font-size: white;
    color: black;
}
.a-vista{
    margin: 2px 5px 0px;
    color: rgb(62, 193, 62);
    font-size: 15px;
}
.texto1{
    background-color: rgb(20, 69, 231);
    color: white;
    padding: 10px;
    text-align: start;
    font-size: 15px;
}
@media(max-width:700px){
    .foto-promocao{
        src: url(foto/fotomobile.png);
    }
}
.grade-itens{
    width: 70%;
    display: flex;
    overflow-x: auto;
    margin: auto;
    justify-content: space-between;

}
.grade-itens::-webkit-scrollbar{
   display: none;
}
@media(max-width:700px){
    .grade-itens{
        width: 95%;
        margin-left: 5px;
        padding: 0;
    }
}
#marketing ,#receitas , #exercicio ,#alimentacao, #confeiteiro{
    background: rgb(140, 133, 255);
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    width: 80px;
}
/*
.marketing {
}
.receitas{
    background-color: rgb(140, 133, 255);
    border-radius: 5px;
    padding: 0.3%;
    text-align: center;
    margin-left: 1rem;
}
.alimentacao{
    background-color: rgb(140, 133, 255);
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    margin-left: 1rem;
}
.exercícios{
    background-color: rgb(140, 133, 255);
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    margin-left: 1rem;
}
.confeiteiro{
    background-color: rgb(140, 133, 255);
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    margin-left: 1rem;

}
*/
@media(max-width:540px){
   
    .marketing{
        padding: 0%;
        margin-left: 0.5rem;
    }
    .receitas{
        padding: 0.3%;
        margin-left: 0.5rem;
    }
    .alimentacao{
        padding: 0%;
        margin-left: 0.5rem;
    }
    .exercícios{
        padding: 0%;
        margin-left: 0.5rem;
    }
    .confeiteiro{
        padding: 0%;
        margin-left: 0.5rem;
    
    }
}
#menu-produtos, #menu-produtos2,  #menu-produtos-ultimo2{
    width:100%;
    height: 16rem;
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(20, 69, 231);
    padding-top: 5px;
    margin-left: -5px ;
    
}
@media(min-width:700px){
    #menu-produtos, #menu-produtos2  ,#menu-produtos-ultimo2{
        max-width:80%;
        margin: auto;
    }
   
    #menu-produtos-ultimo{
        max-width:80%;
        justify-content:space-between;
        margin:auto;
        
    }
    #menu-produtos-ultimo::-webkit-scrollbar{
        display:none;
    }
    .produto11, .produto22, .produto33,  .produto44,  .produto55, .produto66, .produto77, .produto88, .produto99{
        background-color:rgb(140, 133, 255);
        margin-left: 1rem;
        min-width:145px;
        border-radius: 5px;
        justify-content: space-around;
        margin: 0 10px 10px;
    }

}
@media(min-width:540px){
    .produto11, .produto22, .produto33,  .produto44,  .produto55, .produto66, .produto77, .produto88, .produto99{
        background-color:rgb(140, 133, 255);
        margin-left: 1rem;
        min-width:145px;
        height:255px;
        border-radius: 5px;
        justify-content: space-around;
        margin: 0 10px 10px;
    }
    .produto1, .produto2, .produto3,  .produto4,  .produto5, .produto6, .produto7, .produto8, .produto9{
        background-color:rgb(140, 133, 255);
        margin-left: 1rem;
        min-width:145px;
        height:255px;
        border-radius: 5px;
    }
}
#menu-produtos::-webkit-scrollbar{
    display: none;
}



 /*
#menu-produtos-ultimo div{
    height:220px;
    width:100%;
    margin-top: 10px;
}
*/
#menu-produtos-ultimo{
    display:flex;
    justify-content:space-between;
    overflow-x: auto;
}
@media(max-width:540px){
    #menu-produtos{
        height: 100%;
        width:100%;
    }
     /*#menu-produtos div{    }
        min-width:130px; esse individo tava formatando todas as div com isso não dava para formata os botão dentro desse container*/
    
    #menu-produtos-ultimo{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
    }
/*
    #menu-produtos-ultimo div{
        justify-content:space-around;
        /*min-width:130px;
        width: 160px;
        margin: 0 10px 10px;

    }
*/
    .produto11, .produto22, .produto33,  .produto44,  .produto55, .produto66, .produto77, .produto88, .produto99{
        background-color:rgb(140, 133, 255);
        margin-left: 1rem;
        width:145px;
        height:220px;
        border-radius: 5px;
        justify-content: space-around;
        margin: 0 10px 10px;
    }
        #produto9ultimo, .produto99{
            display:none;
        }


    .produto1, .produto2, .produto3,  .produto4,  .produto5, .produto6, .produto7, .produto8, .produto9{
        background-color:rgb(140, 133, 255);
        margin-left: 1rem;
        min-width:145px;
        height:220px;
        border-radius: 5px;
    }

    

    #botao-esquerda , #botao-direita{
        /*tag position:absolute; serve para deixar os itens colados na borda do navegador  
        */
        display: none;
    }
    /*#botao-direita{
        height: 26%;
        width: 50x;
        right: 0;
        line-height: 180px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        background: rgb(67, 47, 47);
        z-index: 1;
    }*/
    a, li{
        display: none;
    }

   
    #marketing ,#receitas , #exercicio ,#alimentacao, #confeiteiro{
        display: list-item;
        text-align: center;
        padding: 2px;
        border-radius: 14px;
        /*display list item serve para listar os itens que estão ocultos como na tag a baixo 
        display none nois ocultamos os botões no modo mobile e so funciona no modo pc*/
    }
}



#menu-produtos-ultimo::-webkit-scrollbar{
    display:none;
}
#menu-produtos2::-webkit-scrollbar{
    display:none;
}
#menu-produtos-ultimo2::-webkit-scrollbar{
    display: none;
}

footer{
    background-color: rgb(140, 133, 255);
    max-height: 100%;
  
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;

}